    </div>
    <div class="footer">
      <div class="footer-wrapper">
        <ul>
          <li><h2>Projects</h2></li>
          <li><a href="https://chat.meatspac.es">Meatspace Chat</a></li>
          <li><a href="http://aux.meatspac.es">Aux</a></li>
          <li><a href="http://meatspac.es">Meatspace</a></li>
          <li><a href="http://notes.generalgoods.net">General Notes</a></li>
          <li><a href="http://lexicrypt.com">Lexicrypt</a></li>
          <li><a href="http://greatbrain.heroku.com">The Great Brain</a></li>
        </ul>
        <ul>
          <li><h2>Code</h2></li>
          <li><a href="https://github.com/meatspaces/meatspace-chat">Meatspace Chat</a></li>
          <li><a href="https://github.com/meatspaces/node-meatspace-publico">Meatspace Publico</a></li>
          <li><a href="https://github.com/meatspaces/node-meatspace-parallax">Meatspace Parallax</a></li>
          <li><a href="https://github.com/ednapiranha/node-prohibition">Prohibition</a></li>
          <li><a href="https://github.com/meatspaces/node-meatspace">Meatspace (redis)</a></li>
          <li><a href="https://github.com/meatspaces/node-meatspace-leveldb">Meatspace (leveldb)</a></li>
          <li><a href="https://github.com/ednapiranha/generalnotes">General Notes</a></li>
        </ul>
        <ul>
          <li><h2>Other</h2></li>
          <li><a href="http://eye.meatspac.es">Eye</a></li>
          <li><a href="http://carne.meatspac.es">Carne</a></li>
          <li><a href="http://github.com/ednapiranha">Github</a></li>
          <li><a href="http://twitter.com/ednapiranha">Twitter</a></li>
          <li><a href="http://ednapiranha.tumblr.com">Tumblr</a></li>
          <li><a href="http://pinboard.in/u:ednapiranha">Pinboard</a></li>
          <li><a href="http://www.mixcloud.com/lazykiki">Podcasts</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
